header .material-symbols-outlined {
   font-size: 30px;
}

header h1 {
  font-size: 36px;
}

div .material-symbols-outlined {
  font-size: 20px;
  flex-direction: row;
  border-radius: 30px;
}

   
  
   
  





  

